<nav th:fragment="headerFragment" class="header">
    <section class="header_section">
        <nav class="header_nav">
            <div class="nav__logo">
                <a href="/" class="main_logo">
                    <img th:src="@{/image/logo1.png}" alt="이미지">
                </a>
            </div>
            <a href="#" class="nav__bar" onclick="toggleMenu()">
                <i class="fa-solid fa-bars"></i>
            </a>
            <ul class="nav__main">
                <li><a href="#" class="nav_Auction"><span>경매</span></a></li>
                <li><a href="#" class="nav_Product"><span>작품</span></a></li>
                <li><a href="#" class="nav_Calender"><span>캘린더</span></a></li>
            </ul>
            <div class="nav__login">
                <div id="search_container">
                    <form class="nav__search-form" th:action="@{/home/search}" method="get">
                    <input type="text" name="kw" id="search_input" placeholder="작가명 또는 작품명 검색"/>
                    <button type="submit" id="search_button">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                    </form>
                </div>
                <!-- 로그인 및 로그아웃 버튼 -->
                <a id="header_loginBtn" sec:authorize="isAnonymous()" th:href="@{/member/login}">로그인</a>


                <div id="profileSection" sec:authorize="isAuthenticated()">
                    <a id="header_profile" href="#">
                        <!-- 현재 로그인한 사용자의 프로필 사진과 이름 표시 -->
                        <img th:if="${profileImage != null}" th:src="@{|${profileImage}|}" alt="프로필 사진" class="profile-image"/>
                        <img th:if="${profileImage == null}" th:src="@{/image/유저프로필.png}" alt="기본 프로필 사진" class="profile-image"/>
                    </a>

                    <!-- 드롭다운 메뉴 -->
                    <div id="profileDropdown" class="dropdown-content" style="display: none;">
                        <a th:href="@{/member/myPage}">프로필 수정</a>
                        <a th:href="@{/member/logout}">로그아웃</a>
                        <a th:href="@{/question/list}">문의하기</a>
                    </div>
                </div>

            </div>
        </nav>
    </section>
</nav>
