<html layout:decorate="~{layout/layout}">
<div layout:fragment="content">


    <div class="container mx-auto px-4 min-h-[1500px]">
        <div class="container py-4 ">
            <div class="container mx-auto h-[150px] py-3 flex items-center justify-center">
                <h1 class="text-5xl">CONTACT</h1>
            </div>


            <form th:action="@{/question/create}" th:object="${questionForm}" method="post">

            <div class="container mx-auto min-h-[600px] px-[200px]">
                <div class="alert alert-danger" role="alert" th:if="${#fields.hasAnyErrors()}">
                    <div th:each="err : ${#fields.allErrors()}" th:text="${err}" />
                </div>
                <div class=" min-h-[70px] my-10 flex items-center justify-center">
                    <div class="border-2 border-slate-300 min-h-[70px] px-5 flex items-center justify-center">
                        <select id="QuestionType" name="questionType" class="flex items-center justify-center">
                            <option value="" disabled selected>유형을 선택해주세요</option>
                            <option value="ARTWORK">작품</option>
                            <option value="ARTIST">작가</option>
                            <option value="PURCHASE">구매</option>
                            <option value="SERVICE">SERVICE</option>
                            <option value="DELIVERY">배송</option>
                            <option value="RETURN">반품</option>
                            <option value="OTHER">기타</option>
                        </select>
                    </div>

                    <div class="px-3 w-[800px]">
                        <input type="text" name="subject" id="subject" th:field="*{subject}" class="form-control min-h-[70px] px-3" placeholder="제목을 입력해주세요.">
                    </div>


                </div>


                <div class="border-2 border-slate-300 min-h-[700px]  my-10 px-3 py-3">
                    <textarea name="content" id="content" th:field="*{content}" class="form-control border-white resize-none" rows="15"
                              placeholder="내용을 입력해주세요


Please feel free to submit your inquiry in your native language. For languages other than English and Korean, machine-trnaslated responses will be provided Machine-translations may not necessarily be 100% accurate. In such cases, Please submit your inquiry again we will do our best to provide the most accurate answer.
"></textarea>
                    <hr class="border-2 border-slate-300 my-3 mx-3">
                    <div>
                        여기에 사진첨부하는기능
                    </div>
                </div>

            </div>
                <div class="container mx-auto min-h-[100px] px-[200px]">
                <input class="bg-black text-[#D5A770] text-xl h-20 px-4 my-3 rounded-xl w-full block" type="submit" value="문의하기">
            </div>
            </form>

        </div>
    </div>
</div>
</html>
