<html layout:decorate="~{layout/layout}">
<head>
    <script>
        function addInputField() {
            const container = document.getElementById("artistAddsContainer");
            const input = document.createElement("input");
            input.type = "text";
            input.name = "artistAdds"; // name 배열로 설정
            input.className = "form-control";
            input.maxLength = 200; // 각 필드에 따라 적절한 길이 설정
            container.appendChild(input);
        }

        function handleMailTypeChange(selectElement) {
            const inputElement = document.getElementById('mailTypeInput');
            const selectElementDiv = document.getElementById('mailTypeDiv');

            if (selectElement.value === 'self') {
                selectElementDiv.style.display = 'none';
                inputElement.style.display = 'inline-block';
                inputElement.focus();
            }
        }

        // Reset mail type selection when the input loses focus
        document.addEventListener('DOMContentLoaded', function() {
            const mailTypeInput = document.getElementById('mailTypeInput');
            mailTypeInput.addEventListener('blur', function() {
                const selectElementDiv = document.getElementById('mailTypeDiv');
                const selectElement = document.getElementById('mailType');
                if (this.value === '') {
                    selectElementDiv.style.display = 'inline-block';
                    this.style.display = 'none';
                    selectElement.value = '';
                }
            });
        });


        // 파일 선택 트리거 함수
        function triggerFileInput() {
            document.getElementById('thumbnail').click();
        }

        // 이미지 미리보기 함수
        function previewThumbnail(input) {
            if (input.files && input.files[0]) {
                const reader = new FileReader();

                reader.onload = function(e) {
                    const preview = document.getElementById('thumbnailPreview');
                    const uploadButton = document.getElementById('uploadButton');
                    preview.src = e.target.result;
                    preview.style.display = 'block';
                    uploadButton.style.display = 'none';
                };

                reader.readAsDataURL(input.files[0]);
            }
        }
    </script>
</head>
<body>
<div layout:fragment="content">
    <div class="artistCreateContainer">
        <form th:action method="post" th:object="${artistForm}" enctype="multipart/form-data" class="artistContainer">
            <div class="thumbnail">
                <img id="thumbnailPreview" src="#" alt="미리보기" style="display: none;" onclick="triggerFileInput()">
                <input type="file" id="thumbnail" th:field="*{thumbnail}" class="form-control" style="display: none;" onchange="previewThumbnail(this)">
                <button type="button" id="uploadButton" onclick="triggerFileInput()" class="iconBT">
                    <i class="fa-solid fa-user-plus" style="margin-left: 15px;"></i>
                </button>
            </div>
            <div class="form-groupArt">
                <label for="engName" class="form-label">영문 이름:</label>
                <input type="text" id="engName" class="form-control" th:field="*{engName}">
            </div>
            <div class="form-groupArt">
                <label for="korName" class="form-label">한글 이름:</label>
                <input type="text" id="korName" class="form-control" th:field="*{korName}">
            </div>
            <div class="form-groupArt">
                <label for="birthDate" class="form-label">생년월일:</label>
                <input type="text" id="birthDate" class="form-control" th:field="*{birthDate}">
            </div>
            <div class="form-groupArt">
                <label for="tel" class="form-label">전화번호:</label>
                <input type="text" id="tel" class="form-control" th:field="*{tel}">
            </div>
            <div class="form-groupArt">
                <label for="mail" class="form-label">E-mail:</label>
                <input type="text" id="mail" class="form-control" th:field="*{mail}">
                <span class="mailIcon">@</span>
                <div id="mailTypeDiv">
                    <select id="mailType" class="form-control" onchange="handleMailTypeChange(this)">
                        <option value="">선택</option>
                        <option value="naver">naver.com</option>
                        <option value="google">gmail.com</option>
                        <option value="daum">daum.net</option>
                        <option value="self">직접 입력</option>
                    </select>
                </div>
                <input type="text" id="mailTypeInput" class="form-control" name="mailType" style="display: none;">
            </div>
            <div class="artistAdds">
                <div id="artistAddsContainer">
                    <button type="button" onclick="addInputField()"><i class="fa-solid fa-plus"></i></button>
                </div>
            </div>
            <button type="submit" class="btn-primary">등록</button>
        </form>
    </div>
</div>
</body>
</html>