<html layout:decorate="~{layout/layout}">
<div layout:fragment="content">
    <div class="bg-gray-100 text-gray-800">
        <div class="bg-cover bg-center h-48 mx-300" style="background-color: #243233; padding: 100px;">
            <div class="mx-auto h-full flex items-center justify-start">
                <h2 class="text-white text-2xl mr-4">How To Sell</h2>
            </div>
        </div>
        <main class="container mx-auto py-12 px-4 md:px-0">
            <div class="bg-white rounded-lg shadow-lg p-8">
                <div class="space-y-6">
                    <section>
                        <h3 class="text-xl font-semibold mb-3">1.회원가입 및 로그인</h3>
                        <p class="text-gray-700 leading-relaxed">
                            먼저 사이트에 작가로 회원가입을 하고, 로그인하세요. 작가 로그인 후에 판매를 시작할 수 있습니다.
                        </p>
                    </section>
                    <section>
                        <h3 class="text-xl font-semibold mb-3">2. 판매 상품 등록</h3>
                        <p class="text-gray-700 leading-relaxed">
                            판매하고자 하는 상품을 등록하세요. 상품의 제목, 설명, 사진 등을 입력하여 상세 정보를 추가하세요.
                            관리자가 경매를 받아서 주1회 경매에 작품을 내놓을 것입니다.
                        </p>
                    </section>
                    <section>
                        <h3 class="text-xl font-semibold mb-3">3. 경매 시작</h3>
                        <p class="text-gray-700 leading-relaxed">
                            상품 등록 후 경매를 시작하세요.
                        </p>
                    </section>
                    <section>
                        <h3 class="text-xl font-semibold mb-3">4. 입찰 관리</h3>
                        <p class="text-gray-700 leading-relaxed">
                            경매가 진행되는 동안 입찰 내역을 실시간으로 확인하고 관리하세요. 최고 입찰자에게 알림을 보낼 수 있습니다.
                        </p>
                    </section>
                    <section>
                        <h3 class="text-xl font-semibold mb-3">5. 낙찰 후 처리</h3>
                        <p class="text-gray-700 leading-relaxed">
                            경매 종료 후 낙찰자를 확인하고, 결제 및 배송 절차를 진행하세요. 낙찰자가 결제를 완료하면 상품을 발송하세요.
                        </p>
                    </section>
                </div>
            </div>
        </main>
    </div>
</div>
</html>
