<html layout:decorate="~{layout/layout}">
<div layout:fragment="content">
<main class="introduce-container">
    <section class="introduction introduce-sec">
        <h2>Art Auction 소개</h2>
        <p>
            Art Auction은 예술의 진정한 가치를 발견하고자 하는 열정을 가진 경매 플랫폼입니다.
            우리는 예술 작품의 아름다움과 그 속에 담긴 이야기를 세상과 공유합니다.
        </p>
    </section>
    <section class="mission introduce-sec">
        <h2>우리의 목표</h2>
        <p>
            우리의 목표는 예술가들이 자신의 작품을 통해 많은 사람들과 소통할 수 있도록 돕는 것입니다.
            또한 컬렉터들에게는 특별한 예술 작품을 소장할 수 있는 기회를 제공합니다.
        </p>
    </section>
    <section class="values introduce-sec">
        <h2>핵심 가치</h2>
        <ul>
            <li><strong>혁신:</strong> 최신 경매 기술을 통해 효율적이고 투명한 거래를 보장합니다.</li>
            <li><strong>신뢰:</strong> 모든 거래에서 신뢰를 최우선으로 하여 고객 만족을 추구합니다.</li>
            <li><strong>열정:</strong> 예술에 대한 열정을 바탕으로 최고의 경험을 제공합니다.</li>
        </ul>
    </section>
    <section class="history introduce-sec">
        <h2>역사</h2>
        <p>
            Art Auction은 2024년에 설립된 신생 기업으로,
            예술 작품의 가치를 인정받고자 하는 열정을 가진 홍길동에 의해 창립되었습니다.
            현재 온라인 예술 경매 플랫폼을 개발하여, 한국 내 예술 작품을 중심으로 한 서비스를 제공하고있습니다.
        </p>
    </section>

</main>
</div>
</html>