<html layout:decorate="~{layout/layout}">
<div layout:fragment="content">
    <!-- Swiper -->
    <div class="swiper mySwiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <img class="banner-img" th:src="@{/image/작가모집배너.png}" alt="이미지 1">
            </div>
            <div class="swiper-slide">
                <img class="banner-img" th:src="@{/image/협업배너.png}" alt="이미지 2">
            </div>
        </div>
        <div class="swiper-pagination"></div>
    </div>

    <div class="main-container">
        <div class="ongoing-container">
        <div class="aucTitle">
            <div>진행중인 경매 !!!</div>
            <div class="viewAll">전체보기 →</div>
        </div>
        <div class="swiper ongoingAuc">
            <div class="swiper-wrapper">
                <div class="swiper-slide ongoing-slide" th:each="auction : ${auctionProductList}">
                    <img class="ongoing-img" th:src="@{${auction.thumbnailImg}}" alt="이미지 1">
                    <div class="ongoing-info">
                        <div class="ongoing-info-title" th:text="${auction.title}">작품 제목</div>
                        <div class="ongoing-info-artistName" th:text="${auction.artist.korName}">작가 이름</div>
                        <hr>
                        <span class="ongoing-info-Bid">
                        <span>Current Bid </span>
                        <span> ₩ <span class="ongoing-info-currentBid" id="currentBid" th:text="${auction.currentBid}">현재 경매가</span></span>
                            </span>
                        <!--<div class="ongoing-info-endTime">마감 07-24 3:00 PM</div>-->
                    </div>
                </div>
            </div>
            <div class="swiper-pagination ongoing-pagination"></div>
        </div>
        </div>

        <div class="upcoming-container">
            <div class="aucTitle">
                <div>예정된 경매</div>
                <div class="viewAll">전체보기 →</div>
            </div>
            <div class="swiper upcomingAuc">
                <div class="swiper-wrapper">
                    <div class="swiper-slide upcoming-slide">
                        <img class="upcoming-img" th:src="@{/image/그리다만여자사진.jpg}" alt="이미지 1">
                        <div class="upcoming-info">
                            <div class="upcoming-info-title">작품 제목</div>
                            <div class="upcoming-info-artistName">작가 이름</div>
                            <div class="upcoming-info-endTime">예정 07-24 3:00 PM</div>
                        </div>
                    </div>
                    <div class="swiper-slide upcoming-slide">
                        <img class="upcoming-img" th:src="@{/image/풀사진.jpg}" alt="이미지 1">
                        <div class="upcoming-info">
                            <div class="upcoming-info-title">작품 제목</div>
                            <div class="upcoming-info-artistName">작가 이름</div>
                            <div class="upcoming-info-endTime">예정 07-24 3:00 PM</div>
                        </div>
                    </div>
                    <div class="swiper-slide upcoming-slide">
                        <img class="upcoming-img" th:src="@{/image/파란물고기사진.jpg}" alt="이미지 1">
                        <div class="upcoming-info">
                            <div class="upcoming-info-title">작품 제목</div>
                            <div class="upcoming-info-artistName">작가 이름</div>
                            <div class="upcoming-info-endTime">예정 07-24 3:00 PM</div>
                        </div>
                    </div>
                    <div class="swiper-slide upcoming-slide">
                        <img class="upcoming-img" th:src="@{/image/아이사진.jpg}" alt="이미지 1">
                        <div class="upcoming-info">
                            <div class="upcoming-info-title">작품 제목</div>
                            <div class="upcoming-info-artistName">작가 이름</div>
                            <div class="upcoming-info-endTime">예정 07-24 3:00 PM</div>
                        </div>
                    </div>
                    <div class="swiper-slide upcoming-slide">
                        <img class="upcoming-img" th:src="@{/image/산사진.jpg}" alt="이미지 1">
                        <div class="upcoming-info">
                            <div class="upcoming-info-title">작품 제목</div>
                            <div class="upcoming-info-artistName">작가 이름</div>
                            <div class="upcoming-info-endTime">예정 07-24 3:00 PM</div>
                        </div>
                    </div>
                    <div class="swiper-slide upcoming-slide">
                        <img class="upcoming-img" th:src="@{/image/물고기사진.jpg}" alt="이미지 1">
                        <div class="upcoming-info">
                            <div class="upcoming-info-title">작품 제목</div>
                            <div class="upcoming-info-artistName">작가 이름</div>
                            <div class="upcoming-info-endTime">예정 07-24 3:00 PM</div>
                        </div>
                    </div>
                    <div class="swiper-slide upcoming-slide">
                        <img class="upcoming-img" th:src="@{/image/레몬사진.jpg}" alt="이미지 1">
                        <div class="upcoming-info">
                            <div class="upcoming-info-title">작품 제목</div>
                            <div class="upcoming-info-artistName">작가 이름</div>
                            <div class="upcoming-info-endTime">예정 07-24 3:00 PM</div>
                        </div>
                    </div>
                    <div class="swiper-slide upcoming-slide">
                        <img class="upcoming-img" th:src="@{/image/눈사진.jpg}" alt="이미지 1">
                        <div class="upcoming-info">
                            <div class="upcoming-info-title">작품 제목</div>
                            <div class="upcoming-info-artistName">작가 이름</div>
                            <div class="upcoming-info-endTime">예정 07-24 3:00 PM</div>
                        </div>
                    </div>
                    <div class="swiper-slide upcoming-slide">
                        <img class="upcoming-img" th:src="@{/image/노란머리여자사진.jpg}" alt="이미지 1">
                        <div class="upcoming-info">
                            <div class="upcoming-info-title">작품 제목</div>
                            <div class="upcoming-info-artistName">작가 이름</div>
                            <div class="upcoming-info-endTime">예정 07-24 3:00 PM</div>
                        </div>
                    </div>
                </div>
                <div class="swiper-pagination upcoming-pagination"></div>
            </div>
        </div>
    </div>

    <div class="bestArtist-container w-full mt-10 md:px-[300px]">
        <div class="bestArtist-title flex justify-between items-center text-xl font-bold mt-20 border-b border-black">
            <div>추천 작가</div>
        </div>
        <div class="best-artist-section text-left bg-gradient-to-t from-teal-500 to-orange-500 p-5 mt-8">
            <div class="artist-container flex flex-wrap items-center justify-between mb-5">
                <div class="artist-info flex-1 text-white p-5 font-bold max-w-xl">
                    <div class="bestArtist-info-artistName text-lg text-white font-bold mb-2 flex">
                        작가 이름&lt;&lt;<div class="bestArtist-info-title">작품 이름</div>&gt;&gt;
                    </div>
                    <div class="bestArtist-info-description text-base text-white mb-2">작품 설명</div>
                    <div class="bestArtist-info-endTime text-sm text-red-500">예정 07-24 3:00 PM</div>
                </div>
                <div class="artist-image">
                    <img th:src="@{/image/노란머리여자사진.jpg}" alt="이미지 1" class="w-full max-w-xs rounded-lg mr-5">
                </div>
            </div>
        </div>
    </div>


    <div class="guide-container mb-24 md:px-[300px]">
        <div class="guide-Title flex justify-between items-center text-xl font-bold mt-20 border-b border-black">
            <div>경매 가이드</div>
        </div>
        <div class="guide-section flex flex-col md:flex-row justify-around items-center p-5 mt-8 space-y-5 md:space-y-0">
            <div class="guide-section-left relative bg-gradient-to-l from-gray-200 to-indigo-200 w-96 rounded-lg">
                <div class="text-overlay absolute bottom-12 right-2 p-2">
                    <div class="howToBuyTitle text-lg font-bold">구매 방법</div>
                    <div class="howToBuyBody text-sm text-gray-600">어렵지 않게 경매에 참여해보세요!!</div>
                    <a href="/home/howToBuy"><div>더 알아보기 &gt;</div></a>
                </div>
                <img src="/image/구매.png" alt="구매 이미지" class="w-48 h-48">
            </div>
            <div class="guide-section-right relative bg-gradient-to-l from-gray-300 to-yellow-200 w-96 rounded-lg">
                <div class="text-overlay absolute bottom-12 right-2 p-2">
                    <div class="howToSellTitle text-lg font-bold">판매 방법</div>
                    <div class="howToSellBody text-sm text-gray-600">작가가 되어 그림을 올려보세요</div>
                    <a href="/home/howToSell"><div>더 알아보기 &gt;</div></a>
                </div>
                <img src="/image/판매.png" alt="판매 이미지" class="w-48 h-48">
            </div>
        </div>
    </div>






</div>
</html>



